#dodai{
	width:1600px;
	height:750px;
	margin-left:-800px;
	left: 50%;
	position:absolute;
    overflow: hidden;
}
#projection{
	width:1000px;
	height:750px;
	background-image:url(../img/haikei3.jpg);
	left: 300px;
	position:absolute;
}
.kabel{
	width:300px;
	height:750px;
	left: 0px;
	position:absolute;
	z-index: 25;
	background-color: #9B1C38;
}
.kaber{
	width:300px;
	height:750px;
	left: 1300px;
	position:absolute;
	z-index: 25;
	background-color: #9B1C38;
}
img[src*=left]{
	width:550px;
	height:750px;
	right: 1300px;
	position:absolute;
	z-index: 20;
}
img[src*=right]{
	width:550px;
	height:750px;
	left: 1300px;
	position:absolute;
	z-index: 20;
}

.goLeft{
	-moz-animation: Left 7s linear 0s;
	-webkit-animation: Left 7s linear 0s;
	-o-animation: Left 7s linear 0s;
	-ms-animation: Left 7s linear 0s;
}
@-moz-keyframes Left {
100% {right: 1000px;}
}

@-webkit-keyframes Left {
100% {right: 1300px;}
}
.goRight{
 	-moz-animation: Right 4s linear 0s;
	-webkit-animation: Right 4s linear 0s;
	-o-animation: Right 4s linear 0s;
	-ms-animation: Right 4s linear 0s;
}

@-moz-keyframes Right {
100% {left: 1300px;}
}

@-webkit-keyframes Right {
100% {left: 1300px;}
}

.swing {
    -moz-animation: swing 2s linear 0s;
	-webkit-animation: swing 2s linear 0s;
	-o-animation: swing 2s linear 0s;
	-ms-animation: swing 2s linear 0s;
}

@-moz-keyframes swing {
    0%,100% {
        -webkit-transform-origin: bottom center;
    }
    10% { -moz-transform: rotate(-15deg); }
    20% { -moz-transform: rotate(10deg); }
    30% { -moz-transform: rotate(-5deg); }
    40% { -moz-transform: rotate(5deg); }
    50% { -moz-transform: rotate(-3deg); }

    60% { -moz-transform: rotate(2deg); }
    70% { -moz-transform: rotate(-2deg); }
    80% { -moz-transform: rotate(1deg); }
    90% { -moz-transform: rotate(-1deg); }
    100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes swing {
    0%,100% {
        -webkit-transform-origin: bottom center;
    }
    10% { -webkit-transform: rotate(-15deg); }
    20% { -webkit-transform: rotate(10deg); }
    30% { -webkit-transform: rotate(-5deg); }
    40% { -webkit-transform: rotate(5deg); }
    50% { -webkit-transform: rotate(-3deg); }

    60% { -webkit-transform: rotate(2deg); }
    70% { -webkit-transform: rotate(-2deg); }
    80% { -webkit-transform: rotate(1deg); }
    90% { -webkit-transform: rotate(-1deg); }
    100% { -webkit-transform: rotate(0deg); }
}

.nuru{
 	-moz-animation: nurua 4s linear 0s;
	-webkit-animation: nurua 4s linear 0s;
	-o-animation: nuru 4s linear 0s;
	-ms-animation: nuru 4s linear 0s;
}

@-moz-keyframes nurua {
	0% {left: 1000px;}
100% {left: -300px;}
}

@-webkit-keyframes nurua {
	0% {left: 1000px;}
100% {left: -300px;}
}

.kama{
 	-moz-animation: kamaa 4s linear 0s;
	-webkit-animation: kamaa 4s linear 0s;
	-o-animation: kamaa 4s linear 0s;
	-ms-animation: kamaa 4s linear 0s;
}

@-moz-keyframes kamaa {
	0% {left: 1000px;}
	50% {left: 1000px;}
	100% {left: -300px;}
}

@-webkit-keyframes kamaa {
	0% {left: 1000px;}
	70% {left: 1000px;}
	100% {left: -300px;}
}
.circle {
  width: 300px;
  height: 300px;
  position: absolute;
}

.top {
  width: 50%;
  height: 50%;
  animation: rotate 1s linear infinite;
  position: absolute;
  left: 25%;
  top: -25%;
  transform-origin: center 150%;
}

.content {
  width: 100%;
  height: 100%;
  animation: rotate 1s linear reverse infinite;
  word-wrap: break-word;
}

@keyframes rotate {
  0% {
   transform: rotate(0deg);
  }
    100% {
    transform: rotate(360deg);
  }
}

.yyura{
  -moz-animation: vertical 1s ease-in-out infinite alternate;
  -webkit-animation: vertical 1s ease-in-out infinite alternate;
}
.xyura{
  -moz-animation: horizontal 1s ease-in-out infinite alternate;
  -webkit-animation: horizontal 1s ease-in-out infinite alternate;
}
@-moz-keyframes horizontal {
    0% { transform:translateX( -3px); }
  100% { transform:translateX(  0px); }
}
@-webkit-keyframes horizontal {
    0% { transform:translateX( -3px); }
  100% { transform:translateX(  0px); }
}
@-moz-keyframes vertical {
    0% { transform:translateY(-10px); }
  100% { transform:translateY(  0px); }
}
@-webkit-keyframes vertical {
    0% { transform:translateY(-10px); }
  100% { transform:translateY(  0px); }
}
.ygata{
	 -moz-animation: vertical1 1s ease-in-out infinite alternate;
 	 -webkit-animation:vertical1 1s ease-in-out infinite alternate;
}
@-moz-keyframes vertical1 {
    0% { transform:translateY(-20px); }
  100% { transform:translateY(  0px); }
}
@-webkit-keyframes vertical1 {
    0% { transform:translateY(-20px); }
  100% { transform:translateY(  0px); }
}
.tenmetu{
	 -moz-animation: fire 0.5s ease-in-out infinite alternate;
 	 -webkit-animation:fire 0.5s ease-in-out infinite alternate;
}
@-moz-keyframes fire{
    0% { opacity:0.5; }
  100% { opacity:1; }
}
@-webkit-keyframes fire{
    0% { opacity:0; }
  100% { opacity:1; }
}
/* 棺桶 */
img[src*=kanoke]{
	position:absolute;
	bottom:0px;
	left:400px;
	display: none;
}
.onwrite{
	z-index:2;
}

img[src*=witch]{
	position:absolute;
	top:0px;
	right:0px;
	display: none;
}

img[src*=broom]{
	position:absolute;
	top:0px;
	right:-300px;
}
img[src*=komorin]{
	position:absolute;
	top:0px;
	left:-300px;
	display: none;
}
#obake2{
	position:absolute;
	top:0px;
	left:0px;
	display: none;
}
#obake2>img{
	position:absolute;
}
img[src*=flash]{
	display: none;
}
img[src*=doc]{
	position:absolute;
	top:0px;
	left:0px;
	display: none;
}
img[src*=goko]{
	position:absolute;
	top:0px;
	left:0px;
	display: none;
}
img[src*=obakechan1]{
	position:absolute;
	top:-300px;
	left:0px;
	display: none;
}
img[src*=obake3]{
	position:absolute;
	top:-300px;
	left:0px;
	display: none;
}
img[src*=obake1]{
	position:absolute;
	top:-300px;
	left:0px;
	display: none;
}
img[src*=pumpkin1]{
	position:absolute;
	top:-300px;
	left:0px;
	display: none;
}
img[src*=pumpkin2]{
	position:absolute;
	top:-300px;
	left:0px;
	display: none;
}
img[src*=pumpkin3]{
	position:absolute;
	top:-300px;
	left:0px;
	display: none;
}
img[src*=wax_fire]{
	position:absolute;
	bottom:0px;
	left:0px;
	display: none;
}
img[src*=kumo]{
	position:absolute;
	top:-300px;
	left:0px;
	display: none;
}
img[src*=kuma]{
	position:absolute;
	bottom:0px;
	right:-300px;
	display: none;
}
.rotate{
	transform:rotate(-30deg);
}
img[src*=koumosuke]{
	position:absolute;
	bottom:0px;
	right:-300px;
	display: none;
}
img[src*=neko]{
	position:absolute;
	bottom:0px;
	right:-300px;
	display: none;
}
img[src*=blood]{
	position:absolute;
	bottom:0px;
	left:-150px;
}
img[src*=cthu]{
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -400px;
	margin-left: -400px;
	display: none;
}
img[src*=black]{
	position:absolute;
	top:0px;
	left: 0px;
	z-index: 10;
	display: none;
}
img[src*=skeleton2]{
	position:absolute;
	bottom:-300px;
	right:0px;
	display: none;
}
img[src*=usagi]{
	position:absolute;
	bottom:0px;
	right:0px;
	display: none;
}
